@import url("https://rsms.me/inter/inter.css");

body {
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body.sans-serif {
  font-family: "Inter", sans-serif;
  color: #222;
  font-weight: 500;
}
@supports (font-variation-settings: normal) {
  body.sans-serif {
    font-family: "Inter var", sans-serif;
  }
}

code {
  padding: 2px 4px;
  font-size: 90%;
  background-color: #eeeeee;
  /* border-radius: 4px; */
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  line-height: 1.4;
  word-break: break-all;
  word-wrap: break-word;
  border: 1px solid #ccc;
  /* border-radius: 4px; */
}

pre,
code {
  font-family: monocode, monospace;
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.list {
  padding-bottom: 14px;
}

article.lh-copy {
  line-height: 1.7;
}

blockquote {
  border-left: 1px solid #333;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
